.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  padding: 35px;
}

.navButton {
  background-color: rgb(41, 40, 40);
  border-radius: 5px;
  color: rgb(189, 186, 188);
  border: solid;
  padding: 5px;
  margin: 5px;
  text-decoration: solid;
}

.homeButton {
  background-color: rgba(255, 20, 145, 0.568);
  border-radius: 5px;
  color: rgb(230, 142, 200);
  border: solid;
  padding: 5px;
  margin: 5px;
  text-decoration: solid;
}

.commentsList {
  list-style-type: square;
  margin: 15px;
  padding: 10px;
}

.comment {
  background-color: rgba(230, 23, 178, 0.281);
  text-align: start;
  border-radius: 3px;
  font-size: smaller;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(204, 135, 187);
}

a:active {
  color: rgb(204, 135, 187);
}

input[type="text"] {
  width: 50%;
  margin: 8px 0;
  box-sizing: border-box;
}

.voterButton {
  font-size: x-large;
}

img {
  width: 80%;
  height: 80%;
}

button {
  font-size: large;
}
