.AppLayout {
  display: grid;
  grid-template: auto;
  grid-template-rows: 170px auto;
  grid-template-areas:
    "header header header"
    ". main .";
}
header {
  grid-area: header;
}

.Main {
  grid-area: main;
}
